<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki парсер</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/panel-dark-theme-styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="changelog-egg" class="text-center">Wiki парсер</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h3 class="card-title">Введите адрес URL статьи из Wikipedia</h3>
                        <button id="toggle-theme" type="button" class="btn btn-dark">Темная тема</button>
                    </div>
                    <div class="card-body">
                        <form action="/study/article" method="POST">
                            <div class="form-group">
                                <label for="url">URL</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="url" name="url" placeholder="Например, https://ru.wikipedia.org/wiki/Python">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Получить статью</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Статья из Wikipedia</h3>
                    </div>
                    <div class="card-body" id="article">
                        {% if article %}
                        {{ article | safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/static/js/dark-theme.js"></script>
    <script type="module" src="/static/js/main.js"></script>
</body>
</html>
